.section-1 {
  text-align: center;
  display: flex;
  margin: 30px 200px;
}

.summery {
  color: black;
  font-size: large;
  margin: 50px 50px;
}
.my-name {
  color: brown;
  font-size: x-large;
}

.myPic {
  width: 500px;
  border-radius: 5%;
}

.header {
  text-align: center;
  margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
  .section-1 {
    text-align: center;
    display: block;
    margin: 0px 20px;
  }

  .summery {
    color: black;
    font-size: medium;
    margin: 0 15%;
  }
  .my-name {
    color: brown;
    font-size: larger;
  }

  .myPic {
    width: 30vw;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 800px) {
  .section-1 {
    text-align: center;
    display: block;
    margin: 0px 20px;
  }

  .summery {
    color: black;
    font-size: medium;
    margin: 0px;
  }
  .my-name {
    color: brown;
    font-size: larger;
  }

  .myPic {
    width: 80%;
    margin-top: 5%;
  }
}
