.experiencePadeDiv {
  margin-top: 5%;
}

.exHeader {
  text-align: center;
}

.exSection:hover {
  background-color: rgba(65, 29, 29, 0.196) !important;
  cursor: pointer;
}

.software-Experience {
  margin-top: 2%;
}

.oilwebimg {
  width: 35vw;
  margin-bottom: 3%;
  /* height: 300px; */
}

.oilFieldimg {
  width: 15vw;
  margin-bottom: 3%;
}

.aktimg {
  height: 200px;
}

.imageDiv {
  display: flex;
  gap: 20px;
}

.Software-div {
  margin-top: 5%;
}

.sectionIntro {
  font-size: larger;
}
.projectIntro {
  font-size: larger;
  margin-top: 2%;
}
.projectIntro2 {
  font-size: larger;
  margin-top: 2%px;
}

.projectPoints {
  font-size: medium;
  margin-top: 2%;
  text-align: left;
}

.wirelineIntro2 h4 {
  margin-top: 0px;
  color: brown;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .oilwebimg {
    width: 70vw;
    margin-bottom: 2%;
    /* height: 250px; */
  }

  .aktimg {
    height: 200px;
  }

  .imageDiv {
    display: block;
    /* flex-direction: column; */
    gap: 25px;
  }

  .sectionIntro {
    font-size: medium;
  }
  .projectIntro {
    font-size: medium;
    margin-top: 5px;
  }

  .projectPoints {
    text-align: left;
    font-size: medium;
    margin-top: 20px;
    margin-left: 25px;
  }

  .oilFieldimg {
    /* height: 250px; */
    width: 30vw;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .oilwebimg {
    width: 70vw;
    /* height: 150px; */
  }

  .aktimg {
    height: 200px;
  }

  .imageDiv {
    display: block;
    /* flex-direction: column; */
    gap: 25px;
  }

  .sectionIntro {
    font-size: medium;
  }
  .projectIntro {
    font-size: medium;
    margin-top: 5px;
  }

  .projectPoints {
    text-align: left;
    font-size: medium;
    margin-top: 20px;
    margin-left: 25px;
  }

  .oilFieldimg {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
  }
}
