.myPicDiv {
  display: flex;
  gap: 10px;
  /* height: 200px; */
}

.aboutPic {
  height: 50vh;
  border-radius: 20px;
}

.skills-container:hover {
  background-color: rgba(65, 29, 29, 0.196) !important;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .aboutPic {
    display: none;
    height: 40vh;
    border-radius: 20px;
  }
}
